
@font-face {
    font-family: F1;
    src: url(fonts/Formula1-Regular_web.ttf);
}
@font-face {
    font-family: F1Bold;
    src: url(fonts/Formula1-Bold_web.ttf);
}
@font-face {
    font-family: F1Wide;
    src: url(fonts/Formula1-Wide.ttf);
}
body {
    font-family: 'F1';
    
}
.bg-primary {
    background-color: 	#FF1801 !important;
}

.btn {
    background-color: 	#FF1801;
}

.btn-primary{
    --bs-btn-border-color: black;
    --bs-btn-active-bg: #6b1b14;
    --bs-btn-active-border-color: #FF1801;
    --bs-btn-hover-bg: #FF1801;
    --bs-btn-hover-border-color: #FF1801;
    --bs-btn-active-color: black;
}
.h1{
    color:black;
    font-family: 'F1Bold';
    font-size: 30px;
}

.btn-outline-primary {
    --bs-btn-color: black;
    --bs-btn-border-color: black;
    --bs-btn-hover-bg: #6b1b14;
    --bs-btn-hover-border-color: #6b1b14;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6b1b14;
    --bs-btn-active-border-color: #FF1801;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6b1b14;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #FF1801;
    --bs-gradient: none;
   
}

.btn-outline-danger {
    background-color: #f58020;
    color:black;
    --bs-btn-color: #f58020;
    --bs-btn-border-color: 	#f58020;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: 	#f58020;
    --bs-btn-hover-border-color: 	#f58020;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f58020;
    --bs-btn-active-border-color: #f58020;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f58020;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f58020;
    --bs-gradient: none;
    
}
.row>* {
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.boldF{
    font-family: 'F1Bold';
}
.wideF{
    font-family:'F1Wide';
}

.py-3{
    background-color: #FF1801 !important;
}
.fs-4 {
    font-family: 'F1Bold';
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FF1801;
    --bs-btn-border-color: #FF1801;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FF1801;
    --bs-btn-hover-border-color: #FF1801;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6b1b14;
    --bs-btn-active-border-color: #6b1b14;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6b1b14;
    --bs-btn-disabled-border-color: #6b1b14;
}

